<div class="admin-title">
  <button class="button" onclick="location.href='/admin/company'">
    管理公司資訊
  </button>
  <button class="button add-job" onclick="location.href='/admin/jobs'">
    新增職缺
  </button>
</div>

<div class="admin-jobs">
  <div class="list">
    <% @jobs.each do |job| %>
      <div class="list-item" onclick="location.href='/admin/jobs/<%= job.id %>'">
        <%= job.title %>
        <%= job.company_id %>
        <%= job.is_open %>
      </div>
    <% end %>
  </div>
</div>
