<div class="admin-title">
  <button class="button" onclick="location.href='/admin/company'">
    管理公司資訊
  </button>
  <button class="button add-job" onclick="location.href='/admin/jobs/new'">
    新增職缺
  </button>
</div>

<div class="admin-jobs">
  <div class="list">
    <% @jobs.each do |job| %>
      <div class="list-item">
        <div class="modify-item" onclick="location.href='/admin/jobs/<%= job.id %>'">
          <%= job.title %>
        </div>
        <div class="toggle-button <%= job.is_open ? 'open' : '' %>">
          <div class="toggle-circle">
          </div>
        </div>
        <i class="fas fa-trash-alt">
          <%= link_to "", admin_job_delete_path(job),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </i>
      </div>
    <% end %>
  </div>
</div>
