<p class="list-title">公司列表</p>
<div class="list">
  <% @companies.each do |company| %>
    <div class="list-item" onclick="location.href='/companies/<%= company.id %>'">
      <%= company.title %>
    </div>
  <% end %>
</div>