// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin {
  &-title {
    height: 40vh;
    width: 100%;
    position: relative;
  }
}

.add-job {
  position: absolute;
  right: 0;
  bottom: 0;
}
