// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin {
  &-title {
    height: 40vh;
    width: 100%;
    position: relative;
  }

  &-jobs {
    .list-item {
      position: relative;
      cursor: default;
    }

    .modify-item {
      height: 100%;
      margin-right: 78px;
      cursor: pointer;
    }

    .list-item .fa-trash-alt {
      padding: 24px;
      font-size: 30px;
      right: 40px;
      top: 0;
      position: absolute;

      &:hover {
        color: red;
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

.add-job {
  position: absolute;
  right: 0;
  bottom: 0;
}

.job-status-block {
  position: absolute;
  left: 25%;
  display: flex;
  flex-direction: row;

  .text {
    top: 4px;
    font-size: 16px;
    color: #808080;
  }

  .toggle-button {
    margin-left: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    border: solid 1px #000;
    border-radius: 10px;
    cursor: pointer;

    .button {
      flex: 1;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: transparent;
      color: #000;
      position: relative;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      input:checked + .checkmark {
        background-color: #2e9bf0;
        color: #fff;
        border-radius: 10px;
      }
    }

    .is-click {
      background-color: #2e9bf0;
      color: #fff;
    }
  }
}

.jobs-title-edit {
  width: 300px;
  height: 28px;
}
