// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list {
  display: flex;
  flex-direction: column;

  .item {
    height: 80px;
    width: 100%;
    border: solid 1px #000;
    line-height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.profile {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 10px;
  }

  .detail {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    &-description {
      color: #808080;
      font-size: 18px;
    }

    &-content {
      font-size: 18px;
    }
  }
}
